/**
 * snarfed.org stylesheet.
 * @author Ryan Barrett <snarfed@ryanb.org>
 */

body {
  font-family: helvetica, verdana, arial, sans-serif;
  line-height: 1.3em;
  color: #222;
  background-color: #EEE;
  margin: 0em;
  padding: .5em;
}

/*
 * Layout
 */
div#page-title {
  background-image: url("/stylized-grass.jpg");
  background-repeat: no-repeat;
  background-position: 0px -35px;
  background-color: #FFF;
  height: 65px;
  width: 35em;
  max-width: 35em;
  margin-left: .2em;
  margin-top: .2em;
  padding: 1em;
  border-bottom: .75em solid #036;
  color: #036;
}

div#page-title h1 {
  font-size: 1.8em;
  font-weight: normal;
}

div#page-title a { text-decoration: none; }
div#page-title a:visited { color: #036; }
div#page-title a:hover, a:focus { color: #07D; }

div#page-content {
  width: 28.5em;
  max-width: 28.5em;
  margin: 0em;
  margin-left: .2em;
  padding: .5em;
  padding-left: 8em;
  background-color: #FFF;
  min-height: 500px;
}

div#sidebar, div#sidebar-shadow
{
  position: absolute;
  width: 6em;
  max-width: 7em;
  left: .7em;
  padding: .67em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
}

div#sidebar {
  z-index: 1;
  background-color: #EEE;
  color: #000;
  border: 1px solid #036;
  border-top: none;
}

div#sidebar-shadow {
  left: .9em;
  padding-top: .7em;
  border: 3px solid #EEE;
  border-left: none;
  background-color: #BBB;
}

.hidden  { display: none; }

/*
 * Style
 */
img {
  border: none;
  padding: .1em;

  // use better interpolation on IE. see:
  // http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
  -ms-interpolation-mode: bicubic;
}

a {
  color: #036;
  text-decoration: underline;
}

a:link    { color: #036; }
a:visited { color: #467; }
a:hover, a:focus {
  color: #07D; 
  text-decoration: none;
}
/*#a:active { color: #6CF; }*/

input, select, textarea {
  font-family: helvetica, verdana, arial, sans-serif;
  border: 1px solid #036;
  margin-top: .5em;
  padding-left: .2em;
}

input[type=text] {
  width: 16em;
}

input#comment-url {
  background: url(/icon_openid.gif) no-repeat;
  background-position: 15.1em 50%;
  padding-right: 1.1em;
  width: 14.9em;
}

div#sidebar input {
  width: 6em;
}

div#sidebar form {
  margin: 0px;
}

textarea {
  width: 100%;
  overflow: auto;
}

.ajax-message {
  color: #8AD;
  font-weight: bold;
  font-style: italic;
}

.ajax-error {
  color: #F44;
  font-weight: bold;
}

table {
  empty-cells: show;
}

.title {
  width: 100%;
  padding: 0em;
  padding-bottom: .3em;
  border-bottom: 1px solid #036;
}

.name, h1.index, h1.photogallery {
  vertical-align: top;
  font-weight: bold;
  color: #036;
  font-size: 1.2em;
}

.name { float: left; }
.name a { text-decoration: none; }

h1.page-name { margin-bottom: .2em }

.buttons {
  float: right;
  font-size: .8em;
  letter-spacing: -.05em;
  text-align: right;
}

.clearing {
  clear: both;
}

.post-comments {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

div.content {
  margin-bottom: 2em;
}

div.comment {
  padding-top: .33em;
  padding-bottom: .33em;
  margin-bottom: .33em;
}

div#comment-input {
 display: none;
}

h2.comment-name {
  font-size: 1.1em;
  margin: .33em;
}

span.comment-date {
  font-size: 0.8em;
}

div.comment-content {
  margin: .33em;
  margin-left: 1.5em;
}

div#ryan, div#Ryan {
  background-color: #EEE;
  border: 1px solid #8AD;
  -moz-border-radius: 1em;
}

div.preview {
  background-color: #EEE;
  border: 1px dashed #8AD;
  -moz-border-radius: 1em;
}

h1 {
  margin: 0em;
}

h3 {
  background-color: inherit;
  font-weight: bold;
  font-size: 1.1em;
}

blockquote {  font-style: italic; }

pre {
  margin: .3em;
  padding: .3em;
  background-color: #EEE;
  border: 1px dashed #036;
  font-family: courier, courier new, monospace;
  line-height: 100%;
  white-space: pre;
  overflow: auto;
}

code {
  color: #024;
}

li {
  margin-top: .33em;
  margin-bottom: .33em;
}

ul {
  padding-left: 1.5em;
}

/*
 * Plugins style
 */
span.diff-removed { color: red; }
span.diff-added   { color: green; }
span.diff-changed { color: yellow; }

table.index {
  width: 100%;
  table-layout: fixed;
  empty-cells: show;
}

h3.index {
  color: #222;
}

tr.index-row-stripe-1 {
  background-color: #EEE;
}

div.gsc-back           { float: right; }
div.gs-result          { margin-top: 1em; }
div.gs-title           { text-decoration: underline; }
div.gs-visibleUrl      { color: green; }
div.gs-visibleUrl-long { display: none; }
div.gs-watermark       { display: none; }

div.gs-snippet {
  font-size: .8em;
  letter-spacing: -.05em;
}

div.gs-snippet br { display: none; }

table.gsc-branding   { border: none; }
td.gsc-branding-text { color: gray; }

td.gsc-branding-img-noclear {
  padding-left: 2px;
  padding-top: 5px;
}
img.gsc-branding-img-noclear { margin-bottom: -3px; }

div.openid-error, div.openid-error a { color: red; }

/* css drop shadows. stolen from a list apart, among other places:
 * http://alistapart.com/articles/cssdropshadows/
 */
div.img-shadow, div.p-shadow {
  float:left;  /* so that the div doesn't span the width of the page */
  background-image: url(/drop_shadow.gif);
  background-position: bottom right;
  margin: 6px 0 0 4px;
}

div.p-shadow {
  padding-left: 0px !important;  /* for firefox */
  padding-left: 6px;             /* for ie */
  padding-top: 1px;
}

div.img-shadow img, div.p-shadow pre {
  display: block;
  position: relative;
  margin: -6px 6px 6px -6px;
}

div.img-shadow img {
  margin: -4px 4px 4px -4px !important;  /* for firefox, it's weird w/imgs */
}

good, ok, bad, f, nf { font-style: italic; }
