/**
 * More Minimalist Gmail userstyle
 * http://snarfed.org/more_minimalist_gmail
 * Ryan Barrett <more-minimalist-gmail@ryanb.org>
 *
 * Aggressively hides Gmail's UI and chrome, leaving only your email, labels, and
 * search box. Inspired by Matt Constantine's Minimalist Gmail,
 * http://mattconstantine.com/mg .
 *
 * Changelog:
 * 0.8.1 8/8/2011
 * - bug fix to individual contact view
 * 0.8 8/1/2011
 * Significant redesign to condense and improve usability, especially in smaller
 * or narrow browser windows.
 * - moved labels above conversation/thread view
 * - condensed top search box area
 * - made widths all auto so that everything follows your browser's width
 * - bug fix: don't hide To and CC labels in compose area
 * - hide new "Import mail & contacts" link
 * - hide Sent Mail and All Mail labels
 * selector fixes:
 * - logo
 * - re-hide stars
 * 0.7 5/13/2011
 * selector fixes:
 * - header/footer buttons in list and conversation view
 * - expand all and new window buttons in conversation view
 * - right side username in new top header
 * - ...and more!
 * 0.6 3/27/2011
 * - more selector updates to handle GMail updates
 * 0.5 3/23/2011
 * - update misc selectors to handle GMail updates, including the new top bar
 * 0.4 1/24/2011
 * - clean up main display: none selector list
 * - remove bottom commented section of selectors (does more harm than good)
 * - hide *all* list view buttons but still support mo(v)e and (l)abel keys
 * - hide ads on bottom of conversation view
 * - hide the google talk presence indicator
 * - re-hide stars in both list and conversation view
 * 0.3 11/12/2010
 * - show built in labels like Inbox, Drafts when they have unread messages
 * - show Move to Inbox button
 * - hide new top right header sections
 * 0.2
 * - show Settings link in upper right
 * - re-hide stars
 * 0.1
 * - initial release
 *
 * Note: sometimes buttons need to be displayed (ie not display: none) for their
 * keyboard shortcuts to work. in those cases, hide them with opacity: 0 instead.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(mail.google.com) {


/* The primary list of things to hide.
 *
 * Note the use of the > child selector. The * universal selector is
 * *descendant*, ie any depth, not just direct child.
 */
div#gbz,                  /* header left side links (Mail, Calendar, etc. */
ol.gbtc > li,             /* header (settings button is special-cased below) */
div.nH.l2.ov,             /* footer */
td.GcwpPb-Pkt3ef.GcwpPb-uq0Mrf, /* Search Mail, Search the Web buttons */
td.GcwpPb-Pkt3ef.GcwpPb-txTtjf, /* Show search options, Create a filter links */
div.GcwpPb-MEmzyf.GcwpPb-bEO5kc, /* Import mail & contacts link */
div.nH.GcwpPb-Z8OBDd div.nH.oy8Mbf.nn, /* GMail logo */
div.b8.UC,                /* weird blank horizontal bar below search box */

/* Left side */
div.n6,                   /* # more labels drop-down */
div.nL.CZtFXe,            /* per-label right side color square drop-down menus */
div.T0.pp,                /* Chat link */
div.CX.pp,                /* Mail, Contacts links */
div.T4.pp,                /* Tasks link */
div.z0,                   /* Compose mail button */
div.LrBjie > div.TK > div.TO:nth-child(2),  /* Sent Mail */
div.LrBjie > div.TK > div.TO:nth-child(4),  /* All Mail */
div.LrBjie > div.TK > div.TO:nth-child(5),  /* Trash */
div.LrBjie > div.TK > div.TO > div.TN .nU,  /* Inbox, Sent Mail, Drafts */

/* List view */
div.VP5otc-HT6HAf.J-J5-Ji, /* header and footer buttons (also applies to conv view) */
td.mgpAx,                 /* vertically shrink header/footer gray bar; external */
div.nH.vpUyzb.Cr,         /* header: "1-10 of 100" (internal) */
div.vpUyzb.J-J5-Ji,       /* header: "1-10 of 100" (external) */
img.EqK8f,                /* per thread stars (external) */
img.tk3N6e-KT-JX,         /* per thread stars (internal) */

/* Conversation view */
div.iG,                   /* header and footer: "1-10 of 100, Older >" */
div.f6,                   /* "xxx is not available to chat" */
span.lHQn1d,              /* per message stars */
div.J-Zh-I.J-J5-Ji.J-Zh-I-Js-Zj.GZ.L3, /* top right, per-message inline Reply button */
table.Bs.nH.iY td.Bu:nth-child(2),     /* right side pane */
table.Bs.nH.iY td.Bu:nth-child(3),     /*   (ads, etc.) */
div.hj,                                /* expand all and new window buttons */
div.VP5otc-tOAp0c,        /* Back to Inbox link */

/* Reply, Reply all, Forward links below each message
 * can't hide these because the r, a, etc. key bindings depend on them. */
/* div.gA.gt, */

/* Compose area */
span.jNNpPe,             /* formatting toolbar */
td.fA,                   /* Check Spelling link */
span.es.el,              /* Rich formatting link */
span.b2,                 /* Insert span in Insert Invitation */
span[id=":11x"],         /* Invitation link in Insert Invitation */
div.eh,                  /* top buttons (Send, Save Now, Discard, ...) */

/* bottom buttons (Send, Save Now, Discard)
 * can't hide these because tab-enter to send, tab-tab-tab enter to discard,
 * etc. depend on them. */
/* div.CoUvaf, */

noop_end_selector_list
{
  display: none !important;
}

/* A whitelist of exceptions that shouldn't be hidden.
 */
div#guser > nobr > a[href="https://mail.google.com/mail/u/0/?ui=2&shva=1#settings"], /* Settings link */
div.LrBjie > div.TK > div.TO > div.TN .nU.n1,  /* Inbox, Drafts *when they have messages* */
ol.gbtc > li:last-child,             /* top-level header settings button */
noop_end_selector {
  display: inline !important;
}

/* Top level container and search box (first selector), labels and
 * message/conversation view containers (second selector). This removes the minimum
 * widths and makes them adjust to the * browser's width.
 */
body > div > div.nH,
body > div > div.nH > div.nH > div.nH > div.no > div.nH.nn {
  width: auto !important;
}

/* Top google-wide header */
div.nH.oy8Mbf.qp {
  display: inline;
  float: right;
}

/* Top header buttons */
#gb, #gbx1, #gbx2, #gbx3, #gbx4, .gbvt, .gbgt, .gbtcb, .gbtb2, .gbmc, .gbts, #gbs {
  background-color: transparent !important;
  border: none !important;
}

/* Labels container */
div.nH.oy8Mbf.nn {
  float: none !important;
  margin-top: 5px;
}

div.n3 * {
  display: inline !important;
}

/* Individual labels */
div.XQRo3.gu78Dc {
  margin: 0 !important;
}

/* lines between each thread in list view */
td.xY {
  border-bottom: none !important;
}

/* "grip" image left of each conversation, for drag and drop */
td.oZ-x3.xY {
  background-image: none !important;
}

/* hide highlighted background for Inbox/Drafts when they're currently
 * viewed. only do that for my own labels. */
div.LrBjie > div.TK > div.TO.nZ {
  background-color: transparent !important;
}

/* move to and labels pop-up menus in conversation and list views. */
div.J-M.uEPqDe.AW {
  left: 0px !important;
  top: 0px !important;
}

}
