/**
 * More Minimalist Gmail userstyle
 * http://snarfed.org/more_minimalist_gmail
 * Ryan Barrett <more-minimalist-gmail@ryanb.org>
 *
 * Aggressively hides Gmail's UI and chrome, leaving only your email, labels, and
 * search box. Inspired by Matt Constantine's Minimalist Gmail,
 * http://mattconstantine.com/mg .
 *
 * Changelog:
 * 0.4 1/24/2011
 * - clean up main display: none selector list
 * - remove bottom commented section of selectors (does more harm than good)
 * - hide *all* list view buttons but still support mo(v)e and (l)abel keys
 * - hide ads on bottom of conversation view
 * - hide the google talk presence indicator
 * - re-hide stars in both list and conversation view
 * 0.3 11/12/2010
 * - show built in labels like Inbox, Drafts when they have unread messages
 * - show Move to Inbox button
 * - hide new top right header sections
 * 0.2
 * - show Settings link in upper right
 * - re-hide stars
 * 0.1
 * - initial release
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(mail.google.com) {


/* The primary list of things to hide.
 *
 * Note the use of the > child selector. The * universal selector is
 * *descendant*, ie any depth, not just direct child.
 */
div#gbar,                 /* left header (Gmail Calendar Documents ...) */
div#guser > nobr > *,     /* right header elements (user, settings, sign out) */
div.nH.l2.ov,             /* footer */
td.GcwpPb-Pkt3ef.GcwpPb-uq0Mrf, /* Search Mail, Search the Web buttons */
td.GcwpPb-Pkt3ef.GcwpPb-txTtjf, /* Show search options, Create a filter links */

/* Left side */
div.GcwpPb-VArq.Rgky9,    /* GMail logo */
div.GcwpPb-VArq.Z4b7Xb,   /* GMail logo */
div.n6,                   /* # more labels drop-down */
div.T0.pp,                /* Chat link */
div.CX.pp,                /* Mail, Contacts links */
div.T4.pp,                /* Tasks link */
div.z0,                   /* Compose mail button */
div.LrBjie > div.TK > div.TO > div.TN > .nU,  /* Inbox, Sent Mail, Drafts */

/* List view */
/* div.VP5otc-pzeoBf.D.E, */    /* entire header
div.VP5otc-HT6HAf.J-J5-Ji > *,  /* header: buttons */
div.VP5otc-MdoD9,           /* header: refresh link */
div.nH.vpUyzb.Cr,         /* header: "1-10 of 100" */
div.VP5otc-U4m8q.D.E,     /* footer */
img.EqK8f,                /* per thread stars (internal) */
img.aef,                  /* per thread stars (external) */

/* Conversation view */
div.VP5otc-tOAp0c,        /* header: Back to Inbox link */
div.iG,                   /* header and footer: "1-10 of 100, Older >" */
div.i1.D.E,               /* header (internal) */
div.A1.D.E,               /* header (external) */
div.iE.D.E,               /* footer (internal) */
div.AY.D.E,               /* footer (external) */
div.f6,                   /* "xxx is not available to chat" */
span.lHQn1d,              /* per message stars */
div.J-Zh-I.J-J5-Ji.J-Zh-I-Js-Zj.GZ.L3, /* top right, per-message inline Reply button */
table.Bs.nH.iY td.Bu:nth-child(2),     /* right side pane */
table.Bs.nH.iY td.Bu:nth-child(3),     /*   (ads, etc.) */

/* Reply, Reply all, Forward links below each message
 * can't hide these because the r, a, etc. key bindings depend on them. */
/* div.gA.gt, */

/* Compose area */
span.jNNpPe,             /* formatting toolbar */
td.fA,                   /* Check Spelling link */
span.es.el,              /* Rich formatting link */
span.b2,                 /* Insert span in Insert Invitation */
span.el.ou,              /* Invitation link in Insert Invitation */
div.eh,                  /* top buttons (Send, Save Now, Discard, ...) */

div#gbz,                     /* redacted (ES) */
ol.gbtc > li:nth-child(2),
li.gbt.gbtb,

/* bottom buttons (Send, Save Now, Discard)
 * can't hide these because tab-enter to send, tab-tab-tab enter to discard,
 * etc. depend on them. */
/* div.CoUvaf, */

noop_end_selector_list
{
  display: none !important;
}


/* A whitelist of exceptions that shouldn't be hidden.
 */
div#guser > nobr > a[href="https://mail.google.com/mail/u/0/?ui=2&shva=1#settings"], /* Settings link */
div.J-Zh-I.J-J5-Ji.J-Zh-I-Js-Zj.L3, /* Move to button */
div.J-Zh-I.J-J5-Ji.J-Zh-I-Js-Zq.L3, /* Labels */
div.J-Zh-I.J-J5-Ji.L3[act="8"],     /* Move to Inbox button */
div.LrBjie > div.TK > div.TO > div.TN > .nU.n1,  /* Inbox, Sent Mail, Drafts *when they have messages* */
noop_end_selector {
  display: inline !important;
}


div.VP5otc-HT6HAf.J-J5-Ji > * {  /* "hide" list view header buttons */
  opacity: 0;
}

/* Settings link */
div#guser > nobr > a[href="https://mail.google.com/mail/u/0/?ui=2&shva=1#settings"] {
  opacity: .2 !important;
}

#gb, #gbx1, #gbx2, #gbx3, #gbx4, .gbvt, .gbgt, .gbtcb, .gbtb2, .gbmc, .gbts, #gbs {
  background-color: transparent !important;
  border: none !important;
}

#gbx1, #gbx2, #gbx3, #gbx4 {
  background-image: none !important;
}

/* lines between each thread in list view */
td.xY {
  border-bottom: none !important;
}

/* "grip" image left of each conversation, for drag and drop */
td.oZ-x3.xY {
  background-image: none !important;
}

/* highlighted background to show which one is currently viewed. only do that for my own labels. */
div.LrBjie div.TK div.TO.nZ {
  background-color: transparent !important;
}

}
